
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img{
      width: 65px;
    }

    img:hover{
      filter: invert(1) sepia(1) saturate(146) hue-rotate(274deg);
    }
  }


@media only screen and (min-width: 600px){
  .icons{
    flex-direction: column;
  }
  }



