<app-divider text="Programming Experience"></app-divider>
<div class="summaryList">
<ul>
  <li>During my time in University I learned:</li>
  <ul>
    <li>Java, JavaEE</li>
    <li>C, arduino</li>
    <li>Assembler, VHDL</li>
    <li>CSS, HTML, JavaScript, JSP</li>
    <li>Framework PrimeFaces for webdevelopment</li>
  </ul>
  </ul>
  <ul>
    <li>In school, I took programming courses, including the languages:</li>
    <ul>
      <li>C, C++, nqC, neC</li>
      <li>Java</li>
    </ul>
  </ul>
<ul>
  <li>In my free-time I learned:</li>
  <ul>
    <li>python</li>
    <li>using json for Stardew Valley Gaming Mods, using Frameworks</li>
    <li>arduino programming</li>
    <li>Angular Framework, TypeScript</li>
    <li>C# for Windows Applications</li>
  </ul>
</ul>

</div>
