.mainDiv{
  height: 100%;
  width: 100%;

  .topDiv{
    display: flex;
    height: 82.5px;
    width: 100%;
    justify-content: center;
    box-shadow: 0 8px 6px -6px var(--secondary-color);

    .title{
      font-size: 56px;
      margin-top: 35px;
      color: var(--primary-color);
      text-shadow: 1px 1px 10px var(--primary-shadow),1px 1px 10px var(--primary-shadow);
    }
  }

  .contentArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    app-social{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      text-align: center;
    }
    .mainContentDiv{
      background-color: var(--background-secondary);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 10px;
      padding-top: 20px;



      .projectsDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .project{
          display: flex;
          flex-direction: column;
          margin: 5px;
          width: 200px;
          height: auto;
          background-color: var(--secondary-color);
          color: var(--primary-color);

          button{
            background-color: var(--background-main);
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

  @media only screen and (min-width: 1080px){

    .contentArea{
      flex-direction: row;

      app-social {
        justify-content: flex-start;
        width: 15%;
        padding-top: 5%;
      }

    }

    .topDiv{
      position: relative;
    }
  }



