.mainDiv{
  height: 100%;
  width: 100%;

  .topDiv{
    display: flex;
    height: 82.5px;
    width: 100%;
    justify-content: center;
    box-shadow: 0 8px 6px -6px var(--secondary-color);

    .title{
      font-size: 56px;
      margin-top: 35px;
      color: var(--primary-color);
      text-shadow: 1px 1px 10px var(--primary-shadow),1px 1px 10px var(--primary-shadow);
    }
  }

  .contentArea{
    display: flex;
    //flex-direction: column;
    height: 100%;
    width: 100%;

    app-social{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 10px;
      text-align: center;
      padding-left: 8px;
    }
    app-main-content{
      background-color: var(--background-secondary);
      display: flex;
      flex-direction: column;
      width: 90%;
      height: auto;
      padding: 10px;
      padding-top: 20px;
      margin: 10px
    }
  }
}

  @media only screen and (max-width: 600px){

    .contentArea{
      flex-direction: column;
      
    }

    .topDiv{
      position: relative;
    }
  }



