<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">Portfolio</h1>
  </div>
  <div class="contentArea">
    <section class="socialDiv">
      <p>
        Hello, my name is <br> Lisa Zimmermann
      </p>
      <div class="icons">
        <span>
          <a href="https://github.com/Kjay9558">
            <img src="../assets/github_icon.svg" alt="github icon">
          </a>
          <a href="https://github.com/Kjay9558">
            <img src="../assets/github_icon.svg" alt="github icon">
          </a>
        </span>
      </div>
    </section>
    <section class="mainContentDiv">
      <div class="summaryDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Summary</p>
          <hr>
        </div>
        <p>
          This is my summary.
        </p>
      </div>
      <div class="resumeDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Resume</p>
          <hr>
        </div>
        <p>Resume goes here.</p>
      </div>
      <div class="projectDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Projects</p>
          <hr>
        </div>
      </div>
      <div class="projectsDiv">
        <mat-card class="project">
          Project 1
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>does this and that</li>
          </ul>
          <button mat-raised-button>To src-code</button>
        </mat-card>
        <mat-card class="project">
          Project 2
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>does this and that</li>
          </ul>
          <button mat-raised-button>To src-code</button>
        </mat-card>
        <mat-card class="project">
          Project 3
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>does this and that</li>
          </ul>
          <button mat-raised-button>To src-code</button>
        </mat-card>
      </div>
    </section>
  </div>

</div>
