<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">Portfolio</h1>
  </div>
  <div class="contentArea">
    <section class="socialDiv">
      <p>
        Hello, my name is Lisa Zimmermann
      </p>
      <div class="icons">
        <span>
          <a href="https://github.com/Kjay9558">
            <img src="../assets/github_icon.svg" alt="github icon">
          </a>
        </span>
      </div>
    </section>
    <section class="mainContentDiv">
      <div class="summaryDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Summary</p>
          <hr>
        </div>
        <p>
          This is my summary.
        </p>
      </div>
      <div class="resumeDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Resume</p>
          <hr>
        </div>
        <p>Resume goes here.</p>
      </div>
      <div class="projectDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Projects</p>
          <hr>
        </div>
      </div>



    </section>
  </div>

</div>
