  <div class="summaryDiv">
    <app-divider text="Summary"></app-divider>
    <p>
      This is my summary.
    </p>
  </div>
  <div class="resumeDiv">
    <app-divider text="Resume"></app-divider>
    <p>Resume goes here.</p>
  </div>
  <div class="projectDiv">
    <app-divider text="Projects"></app-divider>
  </div>
  <div class="projectsDiv">
    <mat-card class="project">
      Project 1
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>does this and that</li>
      </ul>
      <button mat-raised-button>To src-code</button>
    </mat-card>
    <mat-card class="project">
      Project 2
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>does this and that</li>
      </ul>
      <button mat-raised-button>To src-code</button>
    </mat-card>
    <mat-card class="project">
      Project 3
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>does this and that</li>
      </ul>
      <button mat-raised-button>To src-code</button>
    </mat-card>
  </div>

