/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  --primary-color: #78d0cf;
  --background-main: #141414;
  --background-secondary: #1b1b1b;
  --secondary-color: #50447d;
  --primary-shadow: #18505d;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-main);
}

p{
  color: var(--primary-color);
  text-align: center;
}

ul{
  color: var(--primary-color);
}

.custom-tooltip{
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
